.App {
    height: 100vh;
    background-color: lightblue;
    text-align: center;
}

#header {
    color: white;
    display: flex;
}

#header-img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

#navbar {
    color: green;
}

#about {
    color: orange;
}

#projects {
    color: yellow;
}

#footer {
    color: purple;
}
