.App {
    height: auto;
    background-color: white;
    text-align: center;
    font-family: Georgia, serif;
}

div {
    box-sizing: border-box;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.875em;
}

h4 {
    font-size: 1.875em;
}

.vsection {
    display: block;
    width:60%;
    margin: auto;
}

#header {
    background-color: lightblue;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

#header-inner {
    display: flex;
    width: 70%; 
    justify-content: center;
    margin: auto;
    
}

#header img {
    display: block;
    align-self: center;
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

#header-rightblock {
    display: block;
    align-self: center;
    text-align: left;
    margin-left: 40px;
}

#media-container {
    display: flex;
    width: 100%;
}

#media-container a {
    display: block;
    margin-right: 8px;
    color: blue;
}

#navbar {
    background-color: black;
    color: white;
    position: sticky;
    top: 0px;
    height: 50px;
}

#navbar img {
    float: left;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 5px;
}

.logo:hover {
    cursor: pointer;
}

#nav-items {
    overflow: hidden;
}

.nav-item {
    display: block;
    float: right;
    color: white;
    text-align: center;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
}
  
.nav-item:hover {
    color: blue;
    cursor: pointer;
}

#about {
    background-color: white;
    color: black;
}

#about h2 {
    padding: 20px;
}

#about-container {
    background-color: white;
}

#about-content {
    display: flex;
    width: 100%;
}

#description {
    display: block;
    line-height: 1.35;
    width: 60%;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: left;
}

#info-column {
    display: block;
    width: 40%;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#info-column h4 {
    text-align: center;
    margin-bottom: 10px;
}

#info-column p {
    margin-bottom: 5px;
}

.experience {
    display: block;
    margin-bottom: 20px;
}

.experience h3 {
    margin-left: 20px;
    margin-right: 20px;
}

#experience h2 {
    padding: 20px;
}

#experience-container {
    background-color: white;
}

.experience-inner {
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
}

.experience-inner strong {
    width: 100%;
}

.experience-tagline {
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.experience-organization {
    display: block;
    width: 50%;
    padding-left: 20px;
    text-align: left;
}

.experience-daterange {
    display: block;
    width: 50%;
    padding-right: 20px;
    text-align: right;
}

.experience-info {
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.experience-info p {
    display: block;
    line-height: 1.35;
}

.experience-info p a {
    display: inline;
}

.experience-info a {
    display: block;
    margin-top: 10px;
    color: blue;
}

.project {
    display: block;
    margin-bottom: 20px;
}

.project h3 {
    margin-left: 20px;
    margin-right: 20px;
}

.project-inner {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

#projects {
    background-color: white;
    color: black;
}

#projects h2 {
    padding: 20px;
}

#project-container {
    background-color: white;
}

.project img {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.project-info {
    display: block;
    text-align: left;
    padding-right: 20px;
}

.project-info p {
    display: block;
    line-height: 1.35;
}

.project-info p a {
    display: inline;
}

.project-info a {
    display: block;
    margin-top: 10px;
    color: blue;
}

#footer {
    display: flex;  
    background-color: black;
    color: white;
    height: 200px;
}

#footer img {
    display: block;
    margin: auto;
}

#facts {
    display: flex;  
    background-color: black;
    color: white;
    height: 200px;
}

#facts-container {
    display: block;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 900px) { 
    .vsection {
        width: 100%;
    }

    #header img {
        display: none;
    }

    #header-rightblock {
        text-align: center;
        margin: 0px;
    }

    #media-container a {
        margin: auto;
    }

    #about-content {
        display: block;
        width: 100%;
    }

    #description {
        width: 100%;
        margin: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #info-column {
        width: 100%;
        margin: 0px;
        padding: 20px;
    }

    #project-container {
        width: 100%;
    }
    
    .project-inner {
        display: block;
    }

    .project img {
        display: inline;
        margin: auto;
        padding: 0px;
    }

    .project-info {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
}
