.App {
    height: 100vh;
    background-color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.vsection {

}

#header {
    background-color: lightblue;
    color: white
}

#header-inner {
    display: flex;
    width: 70%; 
    justify-content: center;
    margin: auto;
    
}

#header img {
    display: block;
    align-self: center;
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

#header-rightblock {
    display: block;
    align-self: center;
    text-align: left;   
}

#media-container {
    display: flex;
}

#media-container a {
    display: block;
    padding-right: 8px;
}

@media screen and (max-width: 450px) { 
    #header img {
        display: none;
    }

    #header-rightblock {
        text-align: center;
    }
}

#navbar {
    background-color: black;
    color: white;
}

#about {
    background-color: white;
    color: black;
}

#projects {
    background-color: white;
    color: black;
}

#project-container {
    width: 70%;
    display: block;
    margin: auto;
    background-color: orange;
}

.project {
    display: block;
}

.project-inner {
    display: flex;
}

.project img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;   
}

.project-info {
    display: block;
    text-align: left;
}

@media screen and (max-width: 450px) { 
    .project-inner {
        display: block;
    }

    .project img {
        display: inline;
    }

    .project-info {
        display: inline;
    }
}

#footer {
    background-color: black;
    color: white;
}
